[Unit]
Description=httpdot honeypot (https://github.com/xaled/httpdpot)
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/httpdpot/scripts/httpdpot-start.sh
ExecStop=/bin/bash /opt/httpdpot/scripts/httpdpot-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target